<head>
    <meta charset="utf-8">
    <meta name="description" content="Author: Lionel Garcia, personal website">
    <meta name="keywords" content="Lionel Garcia, Astronomy, Astro, Exoplanets, Code, Academia, Research, Science">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    {{ $title := print .Site.Title " | " .Title }}
    <title>{{$title}}</title>
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <link rel="icon" href="{{.Site.BaseURL}}/images/lgrcia.svg" type="image/svg+xml">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JK4SXLHY0E"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-JK4SXLHY0E');
    </script>
</head>