{{ define "main" }}

<div class="top-margin" style="text-align:center; margin-bottom: 5rem">
    <h1 syle="margin-top:0px">{{ .Title }}</h1>
    <div style="color:grey; font-family: var(--font-primary);">* with first-authored publication</div>
</div>

<div class="projects-cards">
    {{ range .Pages.ByPublishDate }}
    {{ $url := cond .Draft "." .RelPermalink }}
    <div class="project-card {{ if .Draft }}draft{{ end }}">
        <a href="{{ $url }}" class="center">
            <svg data-src="{{.Site.BaseURL}}/images/{{.File.TranslationBaseName}}.svg" data-cache="disabled"
                class="test"></svg>
            <span class="draft-text">draft</span>
            <h3>
                <a class="title" href="{{$url}}">{{ .Title }}
                    {{if .Params.first}}<span style="font-size: 1rem">*</span>{{ end }}</a>
            </h3>
            <span class="short">
                <p>{{.Params.short}}</p>
            </span>
        </a>
    </div>
    {{ end }}
</div>

{{ partial "footer.html" . }}

{{ end }}