{{ define "main" }}
<div class="top-margin" style="text-align: center; line-height: 1.6; width: 100%">
    <div class="project-card {{ if .Draft }}draft{{ end }}" style="display: inline-block; max-width:350px">
        <h1 class="project-title" style="font-size: 2.3rem;">{{ .Title }}</h1>
        <!-- <img src="{{.Site.BaseURL}}/images/{{.File.TranslationBaseName}}.svg" width="350px"> -->
        <svg
        data-src="{{.Site.BaseURL}}/images/{{.File.TranslationBaseName}}.svg"
        data-cache="disabled"
        class="center"
        ></svg>
        <div class="short post">{{.Params.short}}</div>
    </div>
</div>
<div class="content">
    <div style="text-align: center;" class="project-icons">
        {{ if isset .Params "paper"}}<a href="{{.Params.paper}}" target="_blank" alt="paper"><i data-feather="file" width="21px"></i></a>{{ end }}
        {{ if isset .Params "code"}}<a href="{{.Params.code}}" target="_blank" alt="code"><i data-feather="github" width="21px"></i></a>{{ end }}
    </div>
    <div style="margin: auto">
        {{ .Content }}
    </div>
</div>
{{ partial "footer.html" . }}

{{ end }}